.project-card {
  position: relative; /* Ensure proper positioning for child elements */
  width: 100%; /* Make sure it's correctly sized */
  height: 100%;
  perspective: 1000px; /* Add perspective for 3D effect */
}



.backface-hidden {
  backface-visibility: hidden; /* Hide back face when flipped */
  position: absolute; /* Position both faces absolutely */
  width: 100%;
  height: 100%;
}